@import '@material/theme/color-palette';

$mdc-theme-primary: #40b3ff;
$mdc-theme-secondary: #676778;

$mdc-theme-background: #fff;
$mdc-theme-surface: #fff;

$mdc-theme-error: $material-color-red-900;
